@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

:root {
  --gris-claro :#f3f3f3;
  --gris: #D9D9D9;
  --gris-oscuro: #B4B4B4;
  --marron: #664E35;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, .navbar-brand span {
  font-family: "Pirata One", system-ui;
}

h2 {
  font-family: "Eagle Lake", serif;
}

.offcanvas {
  background-color: var(--gris);
}

.offcanvas a {
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}

.offcanvas a:hover {
  background-color: var(--gris-oscuro);
}

.principal{
  background-color: var(--gris);
}

.card{
  background-color: var(--gris-claro);
  transition: transform 0.4s ease;
}

.card:hover{
  transform: scale(1.08);
}

.badge {
  background-color: var(--gris)!important;
  color: black;
  padding: 8px 14px;
  border-radius: 20px;
}

.logo:hover {
  animation: animacionLogo 1.5s ease;
}

@keyframes animacionLogo {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

footer{
  background-color: var(--marron);
}

.contacto {
  background-color: var(--gris-claro);
}

.navbar{
  background-color: var(--marron);
}

.hidden{
  display: hidden;
}
.popup{
  margin: auto;
  width: 1000px;
  height: 1000px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
}
.popup1{
  background-image: url("assets/popups/popup1.png");
}
.popup2{
  background-image: url("assets/popups/popup2.png");
}
.popup3{
  background-image: url("assets/popups/popu31.png");
}
.popup4{
  background-image: url("assets/popups/popup4.png");
}
.popup5{
  background-image: url("assets/popups/popup5.png");
}
.popup6{
  background-image: url("assets/popups/popup6.png");
}
.popup7{
  background-image: url("assets/popups/popup7.png");
}

